body{
    background-color: rgb(46, 47, 49);
}
.img-box{
    display: flex;
}
.slide{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    height: 540px;
    width: 10%;
    position: relative;
    flex: 0.5;
    margin: 10px;
    transition: flex 0.80 ease-in;
    transition-duration: 1s;
    cursor: pointer;
    color: white;
}
.slide h3{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 24px;
    opacity: 0;
}
.slide.active{
    flex: 5;
}
.slide.active h3{
    opacity: 1;
}
.pt-3{
    color: white;
}